body {
	box-sizing: border-box;
	background-color: #f7f6fa;

	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;

	justify-content: center;
	padding: 0;
	margin: 0;
}

.background_container {
	color: #ffffff;
	background-image: linear-gradient(#6f7dfb, #28328f);
}

.menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px 0;
	height: 100px;
}

.menu_logo {
	font-family: "Raleway";
	font-size: 36px;
	font-weight: 900;
	line-height: 42px;
	letter-spacing: 0em;
}

.menu_lines {
	height: 20px;
	width: 40px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
}

.menu_line {
	height: 3px;
	width: 25px;
	border-radius: 10px;
	background-color: rgb(16, 10, 88);
}

.menu_logo_desktop {
	display: none;
}

.menu_items {
	display: none;
}

#learn {
	display: flex;
	flex-direction: column;
}

.learn_contained {
	display: flex;
	flex-direction: column;
	align-items: left;
	padding: 0 30px 0;
}

.learn_mobile_tablet {
	display: flex;
	flex-direction: column;
}

.learn_title {
	font-family: "Raleway";
	font-size: 36px;
	font-weight: 900;
	line-height: 42px;
	letter-spacing: 0em;
	text-align: left;
}

.learn_p {
	font-family: "Poppins";
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: left;
	padding: 20px 0;
}

#learn button {
	font-family: "Poppins";
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: center;
	color: #ffffff;

	background-color: #da722c;
	border-color: transparent;
	border-radius: 25px;
	width: 171px;

	align-self: flex-start;
	padding: 12px;
	margin: 0;
}

.learn_desktop {
	display: none;
}

.stadistics_photo {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	padding: 0 0 0 30px;
}

.numbers {
	padding: 110px 0 60px;
}

.numbers h1 {
	font-family: Poppins;
	font-size: 30px;
	font-weight: 700;
	line-height: 38px;
	letter-spacing: 0em;
	text-align: center;
	color: #023047;
	margin: 0;
}

.numbers p {
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: center;
	color: #023047;
	margin: 0;
}

.students_enrolled {
	background-color: #ffff;
	border-color: transparent;
	border-radius: 30px;

	margin: 0;
	padding: 10px 20px 10px;
}

.rating {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: #ffff;
	border-color: transparent;
	border-radius: 30px;
	margin: 70px 0 0;
	padding: 10px 20px 10px;
}

.data_star {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	padding: 0;
}

.data_star img {
	width: 44px;
	align-self: center;
}

.girl_img {
	width: 306px;
	margin-right: -300px;
}

.numbers_desktop {
	display: none;
}

#students {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 80px 30px;
}

#students h1 {
	font-family: "Raleway";
	font-size: 30px;
	font-weight: 900;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: left;
	color: #023047;
}

#students p {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: left;
	color: #023047;
	padding: 20px 0 20px;
}

.students_title_p_desktop {
	display: none;
}

.comments {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}
.comment_line {
	position: absolute;
	height: 550px;
	width: 35px;
	border-radius: 20px;
	background-color: #023047;
	margin-left: 55px;
	align-self: flex-start;

	z-index: -1;
}

.comments h2 {
	font-family: "Raleway";
	font-size: 18px;
	font-weight: 900;
	line-height: 27px;
	letter-spacing: 0em;
	text-align: left;
	color: #ffffff;
	border-radius: 30px;
}

.comments h3 {
	font-family: "Raleway";
	font-size: 18px;
	font-weight: 900;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color: #023047;
	padding: 20px 30px 20px;
	margin: 0;
}

.comments h4 {
	font-family: "Raleway";
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #023047;
	padding: 0 30px 30px;
	margin: 0;
}

.comment_1,
.comment_2 {
	background-color: #ffffff;
	border-radius: 24px;
	box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
	margin: 25px;
	width: 100%;
}

.comment_1 h2 {
	background-color: #6f7dfb;
	padding: 30px;
	margin: 0;
}

.comment_2 h2 {
	background-color: #da722c;
	padding: 30px 60px;
	margin: 0;
}

.student_image_1 {
	position: absolute;
	margin-top: 90px;
	margin-left: 40px;
	width: 110px;
}

.student_image_2 {
	position: absolute;
	margin-top: 75px;
	margin-left: 40px;
	width: 110px;
}

.students_button {
	font-family: "Poppins";
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: center;
	color: #ffffff;

	background-color: #da722c;
	border-color: transparent;
	border-radius: 25px;
	width: 171px;

	padding: 12px;
	margin: 15px;
	align-self: flex-end;
}

#courses {
	background-image: linear-gradient(#6f7dfb, #28328f);
	padding: 0 0 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.courses_h1 {
	font-family: Raleway;
	font-size: 30px;
	font-weight: 900;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: center;
	color: #ffff;
	padding: 20px;
}

.courses_h1_desktop {
	display: none;
}

.courses_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game_design,
.game_engine {
	background-color: #ffffff;
	border-radius: 50px;
	margin: 0 0 70px;
	padding: 0 0px 30px;
}

.courses_image_mobile {
	width: 352px;
	padding: 0;
	margin: 0;
}

.courses_image {
	display: none;
}

.course_name {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px;
}

.course_name h2 {
	font-family: Raleway;
	font-size: 24px;
	font-weight: 900;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: left;
	color: #023047;
	margin: 0;
	padding-right: 10px;
}

.courses_time {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.courses_time p {
	font-family: Raleway;
	font-size: 16px;
	font-weight: 900;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: #023047;
	margin: 0;
	width: 50px;
}

.courses_time img {
	width: 16px;
	padding: 0 5px;
}

#courses button {
	font-family: "Poppins";
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: center;
	color: #ffffff;

	background-color: #da722c;
	border-color: transparent;
	border-radius: 25px;
	width: 171px;

	padding: 12px;
	margin: 0 30px 0 0;
	align-self: flex-end;
}

#app {
	padding: 60px 30px;
}

#app h1 {
	font-family: Raleway;
	font-size: 30px;
	font-weight: 900;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: center;
	margin: 0;
	color: #023047;
}

#app p {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: center;
	color: #023047;
	padding: 20px;
	margin: 0;
}

#app img {
	margin: 10px 0;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #070917;
	margin: 0;
	padding: 40px 0;
	width: 100%;
}

.footer_sections {
	display: flex;
	flex-direction: column;
	align-items: center;

}

footer h1 {
	font-family: Poppins;
	font-size: 18px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: center;
	color: #da722c;
	padding: 10px;
	margin: 0;
}

.quick_links,
.course,
.contact_us {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	padding: 10px;
}

.item {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: center;
	color: #ffff;
}

.social_networks {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 10px;
}

.social_networks img {
	margin: 5px 20px;
}

footer input {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: left;
	color: gray;

	border-color: none;
	border-radius: 10px;
	height: 15px;
	margin: 10px;
	width: 300px;
	padding: 15px;
}

footer button {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: center;

	letter-spacing: 0em;
	text-align: center;
	color: #ffffff;

	background-color: #023047;
	border-color: transparent;
	border-radius: 15px;
	width: 150px;

	padding: 5px;
	margin: 15px;
}

footer p {
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: center;

	color: #ffff;
}

@media (min-width: 768px) {
	.background_container {
		color: #ffffff;
		background-image: linear-gradient(#6f7dfb, #28328f);
	}

	.menu {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0 60px 0;
		height: 100px;
	}

	.menu_logo {
		font-family: Raleway;
		font-size: 40px;
		font-weight: 900;
		line-height: 47px;
		letter-spacing: 0em;
		text-align: left;
	}

	.menu_lines {
		display: none;
	}

	.menu_line {
		display: none;
	}

	.menu_logo_desktop {
		display: none;
	}

	.menu_items {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;

		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.menu_item {
		padding: 10px 30px;
	}

	.menu_button_tablet {
		font-family: "Poppins";
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffffff;

		background-color: #023047;
		border-color: transparent;
		border-radius: 25px;
		width: 145px;
		height: 48px;
		padding: 5px;
	}

	.menu_button_desktop {
		display: none;
	}

	#learn {
		display: flex;
		flex-direction: column;
	}

	.learn_contained {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 80px 0;
	}

	.learn_title {
		font-family: Raleway;
		font-size: 50px;
		font-weight: 900;
		line-height: 63px;
		letter-spacing: 0em;
		text-align: left;
		margin: 0;
		margin-top: 50px;
	}

	.learn_p {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: left;
		margin: 0px;
	}

	#learn button {
		font-family: "Poppins";
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffffff;

		background-color: #da722c;
		border-color: transparent;
		border-radius: 25px;
		width: 171px;

		align-self: flex-start;
		padding: 12px;
		margin: 0;
	}

	.stadistics_photo {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		overflow: hidden;
		padding: 0 0 0 80px;
	}

	.numbers {
		padding: 110px 0 60px;
	}

	.numbers h1 {
		font-family: Poppins;
		font-size: 36px;
		font-weight: 700;
		line-height: 45px;
		letter-spacing: 0em;
		text-align: center;

		color: #023047;
		margin: 0;
	}

	.numbers p {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0em;
		text-align: center;
		color: #023047;
		margin: 0;
	}

	.students_enrolled {
		background-color: #ffff;
		border-color: transparent;
		border-radius: 30px;

		margin: 0;
		padding: 15px 25px 15px;
	}

	.rating {
		background-color: #ffff;
		border-color: transparent;
		border-radius: 30px;
		margin: 70px 0 0;
		padding: 15px 25px 15px;
	}

	.data_star {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0;
		padding: 0;
	}

	.data_star img {
		width: 44px;
		align-self: center;
	}

	.girl_img {
		width: 496px;
		margin-right: 0;
	}

	#students {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 80px;
	}

	#students h1 {
		font-family: Raleway;
		font-size: 40px;
		font-weight: 900;
		line-height: 48px;
		letter-spacing: 0em;
		text-align: left;
		align-self: flex-start;
		color: #023047;
	}

	#students p {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: left;
		color: #023047;
		padding: 20px 0 20px;
	}

	.students_title_p_desktop {
		display: none;
	}

	.comments {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 20px;
	}
	.comment_line {
		position: absolute;
		height: 550px;
		width: 35px;
		border-radius: 20px;
		background-color: #023047;
		margin-left: 55px;
		align-self: flex-start;
		z-index: -1;
	}

	.comments h2 {
		font-family: Raleway;
		font-size: 18px;
		font-weight: 900;
		line-height: 27px;
		letter-spacing: 0em;
		text-align: left;

		color: #ffffff;
		border-radius: 30px;
	}

	.comments h3 {
		font-family: Raleway;
		font-size: 24px;
		font-weight: 900;
		line-height: 29px;
		letter-spacing: 0em;
		text-align: left;

		color: #023047;
		padding: 20px 30px 20px;
		margin: 0;
	}

	.comments h4 {
		font-family: Raleway;
		font-size: 18px;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: left;

		color: #023047;
		padding: 0 30px 30px;
		margin: 0;
	}

	.comment_1,
	.comment_2 {
		border-radius: 24px;
		box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
		margin: 25px;
		width: 100%;
	}

	.comment_1 h2 {
		background-color: #6f7dfb;
		padding: 30px;
		margin: 0;
	}

	.comment_2 h2 {
		background-color: #da722c;
		padding: 30px 60px;
		margin: 0;
	}

	.student_image_1 {
		position: absolute;
		margin-top: 65px;
		margin-left: 120px;
		width: 130px;
	}

	.student_image_2 {
		position: absolute;
		margin-top: 65px;
		margin-left: 120px;
		width: 130px;
	}

	.students_button {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffffff;

		background-color: #da722c;
		border-color: transparent;
		border-radius: 25px;
		width: 171px;

		padding: 12px;
		margin: 15px;
		align-self: flex-end;
	}

	#courses {
		background-image: linear-gradient(#6f7dfb, #28328f);
		padding: 0 0 80px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.courses_h1 {
		font-family: Raleway;
		font-size: 40px;
		font-weight: 900;
		line-height: 48px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffff;
		padding: 40px;
		margin: 0px;
	}

	.courses_h1_desktop {
		display: none;
	}

	.courses_container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.game_design,
	.game_engine {
		background-color: #ffffff;
		border-radius: 50px;
		margin: 0 0 70px;
		padding: 0 30px;
	}

	.courses_image_mobile {
		display: none;
	}

	.courses_image {
		display: block;
		width: 632px;
		padding: 0;
		margin: 0;
	}

	.course_name {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 20px 10px;
		padding-bottom: 40px;
	}

	.courses_name h2 {
		font-family: Raleway;
		font-size: 30px;
		font-weight: 900;
		line-height: 45px;
		letter-spacing: 0em;
		text-align: left;

		color: #023047;
		padding-right: 0;
		margin: 0;
	}

	.courses_time {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		width: 120px;
	}

	.courses_time p {
		font-family: Raleway;
		font-size: 16px;
		font-weight: 900;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: right;

		color: #023047;
		margin: 0;
	}

	.courses_time img {
		width: 16px;
		padding: 0 5px;
	}

	#courses button {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffffff;

		background-color: #da722c;
		border-color: transparent;
		border-radius: 25px;
		width: 171px;

		padding: 12px;
		margin: 0 70px 0 0;
		align-self: flex-end;
	}

	#app {
		display: flex;
		flex-direction: column;
		padding: 80px 0;
	}

	#app h1 {
		font-family: Raleway;
		font-size: 40px;
		font-weight: 900;
		line-height: 48px;
		letter-spacing: 0em;
		text-align: center;
		margin: 0;
		color: #023047;
	}

	#app p {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: center;

		color: #023047;
		padding: 0px;
		margin: 20px;
	}

	.app_images {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	#app img {
		width: 310px;
		margin: 20px;
	}

	footer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	
		background-color: #070917;
		margin: 0;
		padding: 40px 0;
		width: 100%;
	}
	
	.footer_sections {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
	
	}

	footer h1 {
		font-family: Poppins;
		font-size: 18px;
		font-weight: 700;
		line-height: 36px;
		letter-spacing: 0em;
		text-align: center;
		color: #da722c;
		padding: 0;
		margin: 0;
	}

	.quick_links,
	.course,
	.contact_us {
		display: flex;
		flex-direction: column;
		align-content: flex-start;
		align-items: flex-start;
		padding: 0;
		margin: 10px 80px;
	}

	.item {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffff;
		padding: 10px 30px;
	}

	.social_networks {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 10px 30px;
		margin: 0;
	}

	.social_networks img {
		margin: 0 10px;
	}

	footer input {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: left;
		color: gray;

		border-color: none;
		border-radius: 10px;
		height: 15px;
		margin: 10px 30px;
		width: 300px;
		padding: 15px;
	}

	footer button {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: center;

		letter-spacing: 0em;
		text-align: center;
		color: #ffffff;

		background-color: #023047;
		border-color: transparent;
		border-radius: 15px;
		width: 150px;

		padding: 5px;
		margin: 10px 30px;
	}

	footer p {
		font-family: Poppins;
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 0em;
		text-align: center;
		justify-self: center;
		margin: 0 80px;
		color: #ffff;
	}
}

@media (min-width: 1024px) {
	.background_container {
		color: #ffffff;
		background-image: linear-gradient(#6f7dfb, #28328f);
	}

	.menu {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0 60px 0;
		height: 100px;
	}

	.menu_logo {
display: none;
	}

	.menu_lines {
		display: none;
	}

	.menu_line {
		display: none;
	}

	.menu_logo_desktop {
		display: block;
		font-family: Raleway;
		font-size: 40px;
		font-weight: 900;
		line-height: 47px;
		letter-spacing: 0em;
		text-align: left;
	}

	.menu_items {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;

		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.menu_item {
		padding: 10px 30px;
	}

	.menu_button_tablet {
		display: none;
	}

	.menu_button_desktop {
		display: block;
		font-family: "Poppins";
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffffff;

		background-color: #023047;
		border-color: transparent;
		border-radius: 25px;
		width: 145px;
		height: 48px;
		padding: 5px;
	}

	#learn {
		display: flex;
		flex-direction: row;
		padding: 0 0 0 60px;
		margin-top: 50px;
	}

	.learn_contained {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0;
	}

	.learn_mobile_tablet {
		display: none;
	}

	.learn_desktop {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.learn_desktop_title {
		font-family: Raleway;
		font-size: 50px;
		font-weight: 900;
		line-height: 63px;
		letter-spacing: 0em;
		text-align: left;

		margin: 0;
		margin-top: 0;
	}

	.learn_desktop_p {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;

		text-align: left;
		margin: 30px 0 60px;
	}

	#learn button {
		font-family: Poppins;
		font-size: 18px;
		font-weight: 700;
		line-height: 27px;
		letter-spacing: 0em;
		text-align: left;

		letter-spacing: 0em;
		text-align: center;
		color: #ffffff;

		background-color: #da722c;
		border-color: transparent;
		border-radius: 25px;
		width: 171px;

		align-self: flex-start;
		padding: 12px;
		margin: 0;
	}

	.stadistics_photo {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		overflow: visible;
		padding: 0;
	}

	.numbers {
		display: none;
	}

	.numbers_desktop {
		display: flex;
		flex-direction: column;

		padding: 110px 0 60px;
	}

	.numbers_desktop h1 {
		font-family: Poppins;
		font-size: 36px;
		font-weight: 700;
		line-height: 45px;
		letter-spacing: 0em;
		text-align: center;

		color: #023047;
		margin: 0;
		padding: 0 5px;
	}

	.numbers_desktop p {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0em;
		text-align: center;
		color: #023047;
		margin: 0;
		width: 115px;
	}

	.students_enrolled_desktop {
		display: flex;
		flex-direction: column;
		align-items: center;

		background-color: #ffff;
		border-color: transparent;
		border-radius: 30px;

		margin: 20px 0 20px 40px;
		padding: 15px 45px 15px 20px;
	}

	.rating_desktop {
		display: flex;
		flex-direction: column;
		align-items: center;

		background-color: #ffff;
		border-color: transparent;
		border-radius: 30px;
		margin: 100px 20px 0 0;
		padding: 15px;
	}

	.data_star_desktop {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0;
		padding: 0;
	}

	.data_star_desktop img {
		width: 44px;
		align-self: center;
	}

	.girl_img {
		width: 446px;
		margin-right: 0;
	}

	#students {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		padding: 60px;
	}

	.students_title_p {
		display: none;
	}

	.students_title_p_desktop {
		display: flex;
		flex-direction: column;
		margin-left: 100px;
		width: 100%
	}

	#students h1 {
		font-family: Raleway;
		font-size: 60px;
		font-weight: 900;
		line-height: 72px;
		letter-spacing: 0em;
		text-align: left;

		letter-spacing: 0em;
		text-align: left;
		align-self: flex-start;
		color: #023047;
	}

	#students p {
		font-family: Poppins;
		font-size: 20px;
		font-weight: 400;
		line-height: 40px;
		letter-spacing: 0em;
		text-align: left;

		letter-spacing: 0em;
		text-align: left;
		color: #023047;
		padding: 40px 0;
	}

	.students_button_desktop {
		font-family: Poppins;
		font-size: 18px;
		font-weight: 700;
		line-height: 27px;
		letter-spacing: 0em;
		text-align: left;

		letter-spacing: 0em;
		text-align: center;
		color: #ffffff;

		background-color: #da722c;
		border-color: transparent;
		border-radius: 25px;
		width: 171px;

		padding: 12px;
		margin: 0;
		align-self: flex-start;
	}

	.comments {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 20px;
		width: 100%
	}
	.comment_line {
		position: absolute;
		height: 550px;
		width: 35px;
		border-radius: 20px;
		background-color: #023047;
		margin-left: 90px;
		align-self: flex-start;
		z-index: -1;
	}

	.comments h3 {
		font-family: Raleway;
		font-size: 24px;
		font-weight: 900;
		line-height: 29px;
		letter-spacing: 0em;
		text-align: left;

		color: #023047;
		padding: 20px 30px 20px;
		margin: 0;
	}

	.comments h4 {
		font-family: Raleway;
		font-size: 18px;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: left;

		color: #023047;
		padding: 0 30px 30px;
		margin: 0;
	}

	.comment_1 {
		border-radius: 24px;
		box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
		margin: 25px;
		width: 100%;

	}

	.comment_2 {
		border-radius: 24px;
		box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
		margin: 25px;
		margin-left: 100px;
		width: 100%;
	
	}

	.comment_1 h2 {
		font-family: Raleway;
		font-size: 18px;
		font-weight: 900;
		line-height: 27px;
		letter-spacing: 0em;
		text-align: left;

		color: #ffffff;
		border-radius: 30px;
		padding: 0 100px;

		background-color: #6f7dfb;
		padding: 30px;
		margin: 0;
	}

	.comment_2 h2 {
		font-family: Raleway;
		font-size: 18px;
		font-weight: 900;
		line-height: 27px;
		letter-spacing: 0em;
		text-align: left;

		color: #ffffff;
		border-radius: 30px;
		padding: 0 100px;
		background-color: #da722c;
		padding: 30px;
		margin: 0;
	}

	.student_image_1 {
		position: absolute;
		margin-top: 70px;
		margin-left: 50px;
		width: 130px;
	}

	.student_image_2 {
		position: absolute;
		margin-top: 60px;
		margin-left: 50px;
		width: 130px;
	}

	.students_button {
		display: none;
	}

	#courses {
		background-image: linear-gradient(#6f7dfb, #28328f);
		padding: 0 0px 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.courses_h1 {
		display: none;
	}

	.courses_h1_desktop {
		display: block;
		font-family: Raleway;
		font-size: 40px;
		font-weight: 900;
		line-height: 48px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffff;
		padding: 60px;
		margin: 0px;
	}

	.courses_container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin: 0 80px;
	}

	.game_design,
	.game_engine {
		background-color: #ffffff;
		border-radius: 50px;
		margin: 0 10px 70px;
		padding: 0 15px;
	}

	.courses_image_mobile {
		display: none;
	}

	.courses_image{
		display: block;
		width: 450px;
		padding: 0;
		margin: 0;
	}

	.course_name {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 20px 15px;
		padding-bottom: 40px;
	}

	.course_name h2 {
		font-family: Raleway;
		font-size: 30px;
		font-weight: 900;
		line-height: 45px;
		letter-spacing: 0em;
		text-align: left;

		color: #023047;
		padding-right: 0;
		margin: 0;
	}

	.courses_time {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		width: none;
	}

	.courses_time p {
		font-family: Raleway;
		font-size: 16px;
		font-weight: 900;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: right;

		color: #023047;
		margin: 0;
	}

	.courses_time img {
		width: 16px;
		padding: 0 5px;
	}

	#courses button {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffffff;

		background-color: #da722c;
		border-color: transparent;
		border-radius: 25px;
		width: 171px;

		padding: 12px;
		margin: 0 60px 0 0;
		align-self: flex-end;
	}

	#app {
		display: flex;
		flex-direction: column;
		padding: 80px 0;
	}

	#app h1 {
		font-family: Raleway;
		font-size: 60px;
		font-weight: 900;
		line-height: 72px;
		letter-spacing: 0em;
		text-align: center;

		margin: 0;
		color: #023047;
	}

	#app p {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: center;

		color: #023047;
		padding: 0px;
		margin: 20px;
	}

	.app_images {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	#app img {
		width: 310px;
		margin: 20px;
	}

	footer {
		display: flex;
		flex-direction: column;
		background-color: #070917;
		justify-content: center;
		margin: 0;
		padding: 40px 0;
		width: 100%;
	}

	.footer_sections {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: flex-start;
		justify-content: center;
	}

	footer h1 {
		font-family: Poppins;
		font-size: 18px;
		font-weight: 700;
		line-height: 36px;
		letter-spacing: 0em;
		text-align: center;
		color: #da722c;
		padding: 0;
		margin: 0;
	}

	.quick_links,
	.course,
	.contact_us {
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: flex-start;
		padding: 10px;
		margin: 30px;
	}

	.item {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffff;
		padding: 10px 30px;
	}

	.social_networks {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 10px 30px;
		margin: 0;
	}

	.social_networks img {
		margin: 0 10px;
	}

	footer input {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: left;
		color: gray;

		border-color: none;
		border-radius: 10px;
		height: 15px;
		margin: 10px 30px;
		width: 300px;
		padding: 15px;
	}

	footer button {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: center;

		letter-spacing: 0em;
		text-align: center;
		color: #ffffff;

		background-color: #023047;
		border-color: transparent;
		border-radius: 15px;
		width: 150px;

		padding: 5px;
		margin: 10px 30px;
	}

	footer p {
		font-family: Poppins;
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 0em;
		text-align: center;
		margin: 0 40px;

		color: #ffff;
	}
}

@media (min-width: 1440px) {

	#learn {
		display: flex;
		flex-direction: row;
		padding: 0 60px;
		margin-top: 50px;
	}
	
	.game_design,
	.game_engine {
		background-color: #ffffff;
		border-radius: 50px;
		margin: 0 50px 70px;
		padding: 0 50px;
	}
 }