body {
	box-sizing: border-box;
	background-color: #f7f6fa;

	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;

	justify-content: center;
	padding: 0;
	margin: 0;
}

.background_container {
	color: #ffffff;
	background-image: linear-gradient(#6f7dfb, #28328f);
}

.menu_bar {
	font-family: "Raleway";
	font-size: 36px;
	font-weight: 900;
	line-height: 42px;
	letter-spacing: 0em;

	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px 0;
}

.menu_button {
	height: 20px;
	width: 40px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
}

.menu_button_line {
	height: 3px;
	width: 25px;
	border-radius: 10px;
	background-color: rgb(16, 10, 88);
}

#learn {
	display: flex;
	flex-direction: column;
}

.learn_contained {
	padding: 0 30px 0;
}

.learn_title {
	font-family: "Raleway";
	font-size: 36px;
	font-weight: 900;
	line-height: 42px;
	letter-spacing: 0em;
	text-align: left;
}

.learn_p {
	font-family: "Poppins";
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: left;
	padding: 20px 0;
}

#learn button {
	font-family: "Poppins";
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: center;
	color: #ffffff;

	background-color: #da722c;
	border-color: transparent;
	border-radius: 25px;
	width: 171px;

	padding: 12px;
	margin: 15px;
}

.stadistics_photo {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	padding: 0 0 0 30px;
}

#learn img {
	width: 306px;
	margin-right: -300px;
}
.numbers {
	padding: 110px 0 60px;
}

.numbers h1 {
	font-family: Poppins;
	font-size: 30px;
	font-weight: 700;
	line-height: 38px;
	letter-spacing: 0em;
	text-align: center;
	color: #023047;
	margin: 0;
}

.numbers p {
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: center;
	color: #023047;
	margin: 0;
}

.students_enrolled {
	background-color: #ffff;
	border-color: transparent;
	border-radius: 30px;

	margin: 0;
	padding: 10px 20px 10px;
}

.rating {
	background-color: #ffff;
	border-color: transparent;
	border-radius: 30px;
	margin: 70px 0 0;
	padding: 10px 20px 10px;
}

#students {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 80px 30px;
}

#students h1 {
	font-family: "Raleway";
	font-size: 30px;
	font-weight: 900;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: left;
	color: #023047;
}

#students p {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: left;
	color: #023047;
	padding: 20px 0 20px;
}

.comments {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}
.comment_line {
	position: absolute;
	height: 550px;
	width: 35px;
	border-radius: 20px;
	background-color: #023047;
	margin-left: 55px;
	align-self: flex-start;
	z-index: -1;
}

.comments h2 {
	font-family: "Raleway";
	font-size: 18px;
	font-weight: 900;
	line-height: 27px;
	letter-spacing: 0em;
	text-align: left;
	color: #ffffff;
	border-radius: 30px;
}

.comments h3 {
	font-family: "Raleway";
	font-size: 18px;
	font-weight: 900;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color: #023047;
	padding: 20px 30px 20px;
	margin: 0;
}

.comments h4 {
	font-family: "Raleway";
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: left;
	color: #023047;
	padding: 0 30px 30px;
	margin: 0;
}

.comment_1, .comment_2{
	border-radius: 24px;
	box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
	margin: 25px;
	width: 100%;
}

.comment_1 h2 {
	background-color: #6f7dfb;
	padding: 30px;
	margin: 0;
}

.comment_2 h2 {
	background-color: #da722c;
	padding: 30px 60px;
	margin: 0;
}

.student_image_1 {
	position: absolute;	
	margin-top: 90px;
	margin-left: 40px;
	width: 110px;
}

.student_image_2 {
	position: absolute;	
	margin-top: 75px;
	margin-left: 40px;
	width: 110px;
}

#students button {
	font-family: "Poppins";
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: center;
	color: #ffffff;

	background-color: #da722c;
	border-color: transparent;
	border-radius: 25px;
	width: 171px;

	padding: 12px;
	margin: 15px;
	align-self: flex-end;
}

#courses {
	background-image: linear-gradient(#6f7dfb, #28328f);
	padding: 0 0 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#courses img {
	width: 352px;
	padding: 0;
	margin: 0;
}

#courses h1 {
	font-family: Raleway;
	font-size: 30px;
	font-weight: 900;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: center;
	color: #ffff;
	padding: 20px;
}

#courses h2 {
	font-family: Raleway;
	font-size: 24px;
	font-weight: 900;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: left;
	color: #023047;
	margin: 0;
}

#courses p {
	font-family: Raleway;
	font-size: 16px;
	font-weight: 900;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: #023047;
	margin: 0;
}

.game_design {
	background-color: #ffffff;
	border-radius: 50px;
	margin: 0 0 70px;
	padding: 0 0px 30px;
	width: 100%;
}


.game_engine {
	background-color: #ffffff;
	border-radius: 50px;
	margin: 0 0 70px;
	padding: 0 0px 30px;
	width: 100%;
}

.course_name {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px;
}

#courses button {
	font-family: "Poppins";
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: center;
	color: #ffffff;

	background-color: #da722c;
	border-color: transparent;
	border-radius: 25px;
	width: 171px;

	padding: 12px;
	margin: 0 30px 0 0;
	align-self: flex-end;
}

#app {
	padding: 40px 30px;
}

#app h1 {
	font-family: Raleway;
	font-size: 30px;
	font-weight: 900;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: center;
	color: #023047;
}

#app p {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: center;
	color: #023047;
	padding: 20px;
}

#app img {
	margin: 10px 0;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #070917;
	margin: 0;
	padding: 40px 0;
	width: 100%;
}

footer h1 {
	font-family: Poppins;
	font-size: 18px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: center;
	color: #da722c;
	padding: 10px;
	margin: 0;
}

.quick_links,
.course,
.contact_us {
	display: flex;
	flex-direction: column;
	align-content: center;
	padding: 10px;
}

.item {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: center;
	color: #ffff;
}

.social_networks {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 10px;
}

footer input {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: left;
	color: gray;

	border-color: none;
	border-radius: 10px;
	height: 15px;
	margin: 10px;
	width: 300px;
	padding: 15px;
}

footer button {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: center;

	letter-spacing: 0em;
	text-align: center;
	color: #ffffff;

	background-color: #023047;
	border-color: transparent;
	border-radius: 15px;
	width: 150px;

	padding: 5px;
	margin: 15px;
}

footer p {
	font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: center;

	color: #ffff;
}











@media (min-width: 768px) { 

	.background_container {
		color: #ffffff;
		background-image: linear-gradient(#6f7dfb, #28328f);
	}
	
	.menu_bar {
		font-family: "Raleway";
		font-size: 36px;
		font-weight: 900;
		line-height: 42px;
		letter-spacing: 0em;
	
		height: 100px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0 30px 0;
	}
	
	.menu_button {
		height: 20px;
		width: 40px;
	
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: center;
	}
	
	.menu_button_line {
		height: 3px;
		width: 25px;
		border-radius: 10px;
		background-color: rgb(16, 10, 88);
	}
	
	#learn {
		display: flex;
		flex-direction: column;
	}
	
	.learn_contained {
		padding: 0 30px 0;
	}
	
	.learn_title {
		font-family: "Raleway";
		font-size: 36px;
		font-weight: 900;
		line-height: 42px;
		letter-spacing: 0em;
		text-align: left;
	}
	
	.learn_p {
		font-family: "Poppins";
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: left;
		padding: 20px 0;
	}
	
	#learn button {
		font-family: "Poppins";
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffffff;
	
		background-color: #da722c;
		border-color: transparent;
		border-radius: 25px;
		width: 171px;
	
		padding: 12px;
		margin: 15px;
	}
	
	.stadistics_photo {
		display: flex;
		flex-direction: row;
		overflow: hidden;
		padding: 0 0 0 30px;
	}
	
	#learn img {
		width: 306px;
		margin-right: -300px;
	}
	.numbers {
		padding: 110px 0 60px;
	}
	
	.numbers h1 {
		font-family: Poppins;
		font-size: 30px;
		font-weight: 700;
		line-height: 38px;
		letter-spacing: 0em;
		text-align: center;
		color: #023047;
		margin: 0;
	}
	
	.numbers p {
		font-family: Poppins;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0em;
		text-align: center;
		color: #023047;
		margin: 0;
	}
	
	.students_enrolled {
		background-color: #ffff;
		border-color: transparent;
		border-radius: 30px;
	
		margin: 0;
		padding: 10px 20px 10px;
	}
	
	.rating {
		background-color: #ffff;
		border-color: transparent;
		border-radius: 30px;
		margin: 70px 0 0;
		padding: 10px 20px 10px;
	}
	
	#students {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 80px 30px;
	}
	
	#students h1 {
		font-family: "Raleway";
		font-size: 30px;
		font-weight: 900;
		line-height: 36px;
		letter-spacing: 0em;
		text-align: left;
		color: #023047;
	}
	
	#students p {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: left;
		color: #023047;
		padding: 20px 0 20px;
	}
	
	.comments {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 20px;
	}
	.comment_line {
		position: absolute;
		height: 550px;
		width: 35px;
		border-radius: 20px;
		background-color: #023047;
		margin-left: 55px;
		align-self: flex-start;
		z-index: -1;
	}
	
	.comments h2 {
		font-family: "Raleway";
		font-size: 18px;
		font-weight: 900;
		line-height: 27px;
		letter-spacing: 0em;
		text-align: left;
		color: #ffffff;
		border-radius: 30px;
	}
	
	.comments h3 {
		font-family: "Raleway";
		font-size: 18px;
		font-weight: 900;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: left;
		color: #023047;
		padding: 20px 30px 20px;
		margin: 0;
	}
	
	.comments h4 {
		font-family: "Raleway";
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		letter-spacing: 0em;
		text-align: left;
		color: #023047;
		padding: 0 30px 30px;
		margin: 0;
	}
	
	.comment_1, .comment_2{
		border-radius: 24px;
		box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
		margin: 25px;
		width: 100%;
	}
	
	.comment_1 h2 {
		background-color: #6f7dfb;
		padding: 30px;
		margin: 0;
	}
	
	.comment_2 h2 {
		background-color: #da722c;
		padding: 30px 60px;
		margin: 0;
	}
	
	.student_image_1 {
		position: absolute;	
		margin-top: 90px;
		margin-left: 40px;
		width: 110px;
	}
	
	.student_image_2 {
		position: absolute;	
		margin-top: 75px;
		margin-left: 40px;
		width: 110px;
	}
	
	#students button {
		font-family: "Poppins";
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffffff;
	
		background-color: #da722c;
		border-color: transparent;
		border-radius: 25px;
		width: 171px;
	
		padding: 12px;
		margin: 15px;
		align-self: flex-end;
	}
	
	#courses {
		background-image: linear-gradient(#6f7dfb, #28328f);
		padding: 0 0 80px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	#courses img {
		width: 352px;
		padding: 0;
		margin: 0;
	}
	
	#courses h1 {
		font-family: Raleway;
		font-size: 30px;
		font-weight: 900;
		line-height: 36px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffff;
		padding: 20px;
	}
	
	#courses h2 {
		font-family: Raleway;
		font-size: 24px;
		font-weight: 900;
		line-height: 36px;
		letter-spacing: 0em;
		text-align: left;
		color: #023047;
		margin: 0;
	}
	
	#courses p {
		font-family: Raleway;
		font-size: 16px;
		font-weight: 900;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;
		color: #023047;
		margin: 0;
	}
	
	.game_design,
	.game_engine {
		background-color: #ffffff;
		border-radius: 50px;
		margin: 0 0 70px;
		padding: 0 0 30px;
	}
	
	.course_name {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0 30px;
	}
	
	#courses button {
		font-family: "Poppins";
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffffff;
	
		background-color: #da722c;
		border-color: transparent;
		border-radius: 25px;
		width: 171px;
	
		padding: 12px;
		margin: 0 30px 0 0;
		align-self: flex-end;
	}
	
	#app {
		padding: 40px 30px;
	}
	
	#app h1 {
		font-family: Raleway;
		font-size: 30px;
		font-weight: 900;
		line-height: 36px;
		letter-spacing: 0em;
		text-align: center;
		color: #023047;
	}
	
	#app p {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: center;
		color: #023047;
		padding: 20px;
	}
	
	#app img {
		margin: 10px 0;
	}
	
	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
	
		background-color: #070917;
		margin: 0;
		padding: 40px 0;
		width: 100%;
	}
	
	footer h1 {
		font-family: Poppins;
		font-size: 18px;
		font-weight: 700;
		line-height: 36px;
		letter-spacing: 0em;
		text-align: center;
		color: #da722c;
		padding: 10px;
		margin: 0;
	}
	
	.quick_links,
	.course,
	.contact_us {
		display: flex;
		flex-direction: column;
		align-content: center;
		padding: 10px;
	}
	
	.item {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffff;
	}
	
	.social_networks {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 10px;
	}
	
	footer input {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: left;
		color: gray;
	
		border-color: none;
		border-radius: 10px;
		height: 15px;
		margin: 10px;
		width: 300px;
		padding: 15px;
	}
	
	footer button {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: center;
	
		letter-spacing: 0em;
		text-align: center;
		color: #ffffff;
	
		background-color: #023047;
		border-color: transparent;
		border-radius: 15px;
		width: 150px;
	
		padding: 5px;
		margin: 15px;
	}
	
	footer p {
		font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: center;
	
		color: #ffff;
	}


}

@media (min-width: 1024px) {
	.background_container {
		color: #ffffff;
		background-image: linear-gradient(#6f7dfb, #28328f);
	}
	
	.menu_bar {
		font-family: "Raleway";
		font-size: 36px;
		font-weight: 900;
		line-height: 42px;
		letter-spacing: 0em;
	
		height: 100px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0 30px 0;
	}
	
	.menu_button {
		height: 20px;
		width: 40px;
	
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: center;
	}
	
	.menu_button_line {
		height: 3px;
		width: 25px;
		border-radius: 10px;
		background-color: rgb(16, 10, 88);
	}
	
	#learn {
		display: flex;
		flex-direction: column;
	}
	
	.learn_contained {
		padding: 0 30px 0;
	}
	
	.learn_title {
		font-family: "Raleway";
		font-size: 36px;
		font-weight: 900;
		line-height: 42px;
		letter-spacing: 0em;
		text-align: left;
	}
	
	.learn_p {
		font-family: "Poppins";
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: left;
		padding: 20px 0;
	}
	
	#learn button {
		font-family: "Poppins";
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffffff;
	
		background-color: #da722c;
		border-color: transparent;
		border-radius: 25px;
		width: 171px;
	
		padding: 12px;
		margin: 15px;
	}
	
	.stadistics_photo {
		display: flex;
		flex-direction: row;
		overflow: hidden;
		padding: 0 0 0 30px;
	}
	
	#learn img {
		width: 306px;
		margin-right: -300px;
	}
	.numbers {
		padding: 110px 0 60px;
	}
	
	.numbers h1 {
		font-family: Poppins;
		font-size: 30px;
		font-weight: 700;
		line-height: 38px;
		letter-spacing: 0em;
		text-align: center;
		color: #023047;
		margin: 0;
	}
	
	.numbers p {
		font-family: Poppins;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0em;
		text-align: center;
		color: #023047;
		margin: 0;
	}
	
	.students_enrolled {
		background-color: #ffff;
		border-color: transparent;
		border-radius: 30px;
	
		margin: 0;
		padding: 10px 20px 10px;
	}
	
	.rating {
		background-color: #ffff;
		border-color: transparent;
		border-radius: 30px;
		margin: 70px 0 0;
		padding: 10px 20px 10px;
	}
	
	#students {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 80px 30px;
	}
	
	#students h1 {
		font-family: "Raleway";
		font-size: 30px;
		font-weight: 900;
		line-height: 36px;
		letter-spacing: 0em;
		text-align: left;
		color: #023047;
	}
	
	#students p {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: left;
		color: #023047;
		padding: 20px 0 20px;
	}
	
	.comments {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 20px;
	}
	.comment_line {
		position: absolute;
		height: 550px;
		width: 35px;
		border-radius: 20px;
		background-color: #023047;
		margin-left: 55px;
		align-self: flex-start;
		z-index: -1;
	}
	
	.comments h2 {
		font-family: "Raleway";
		font-size: 18px;
		font-weight: 900;
		line-height: 27px;
		letter-spacing: 0em;
		text-align: left;
		color: #ffffff;
		border-radius: 30px;
	}
	
	.comments h3 {
		font-family: "Raleway";
		font-size: 18px;
		font-weight: 900;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: left;
		color: #023047;
		padding: 20px 30px 20px;
		margin: 0;
	}
	
	.comments h4 {
		font-family: "Raleway";
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		letter-spacing: 0em;
		text-align: left;
		color: #023047;
		padding: 0 30px 30px;
		margin: 0;
	}
	
	.comment_1, .comment_2{
		border-radius: 24px;
		box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
		margin: 25px;
		width: 100%;
	}
	
	.comment_1 h2 {
		background-color: #6f7dfb;
		padding: 30px;
		margin: 0;
	}
	
	.comment_2 h2 {
		background-color: #da722c;
		padding: 30px 60px;
		margin: 0;
	}
	
	.student_image_1 {
		position: absolute;	
		margin-top: 90px;
		margin-left: 40px;
		width: 110px;
	}
	
	.student_image_2 {
		position: absolute;	
		margin-top: 75px;
		margin-left: 40px;
		width: 110px;
	}
	
	#students button {
		font-family: "Poppins";
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffffff;
	
		background-color: #da722c;
		border-color: transparent;
		border-radius: 25px;
		width: 171px;
	
		padding: 12px;
		margin: 15px;
		align-self: flex-end;
	}
	
	#courses {
		background-image: linear-gradient(#6f7dfb, #28328f);
		padding: 0 0 80px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	#courses img {
		width: 352px;
		padding: 0;
		margin: 0;
	}
	
	#courses h1 {
		font-family: Raleway;
		font-size: 30px;
		font-weight: 900;
		line-height: 36px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffff;
		padding: 20px;
	}
	
	#courses h2 {
		font-family: Raleway;
		font-size: 24px;
		font-weight: 900;
		line-height: 36px;
		letter-spacing: 0em;
		text-align: left;
		color: #023047;
	}
	
	#courses p {
		font-family: Raleway;
		font-size: 16px;
		font-weight: 900;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;
		color: #023047;
	}
	
	.game_design,
	.game_engine {
		background-color: #ffffff;
		border-radius: 50px;
		margin: 0 0 70px;
		padding: 0 30px 30px;
	}
	
	.course_name {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	
	#courses button {
		font-family: "Poppins";
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffffff;
	
		background-color: #da722c;
		border-color: transparent;
		border-radius: 25px;
		width: 171px;
	
		padding: 12px;
		margin: 0 30px 0 0;
		align-self: flex-end;
	}
	
	#app {
		padding: 40px 30px;
	}
	
	#app h1 {
		font-family: Raleway;
		font-size: 30px;
		font-weight: 900;
		line-height: 36px;
		letter-spacing: 0em;
		text-align: center;
		color: #023047;
	}
	
	#app p {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: center;
		color: #023047;
		padding: 20px;
	}
	
	#app img {
		margin: 10px 0;
	}
	
	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
	
		background-color: #070917;
		margin: 0;
		padding: 40px 0;
		width: 100%;
	}
	
	footer h1 {
		font-family: Poppins;
		font-size: 18px;
		font-weight: 700;
		line-height: 36px;
		letter-spacing: 0em;
		text-align: center;
		color: #da722c;
		padding: 10px;
		margin: 0;
	}
	
	.quick_links,
	.course,
	.contact_us {
		display: flex;
		flex-direction: column;
		align-content: center;
		padding: 10px;
	}
	
	.item {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: center;
		color: #ffff;
	}
	
	.social_networks {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 10px;
	}
	
	footer input {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: left;
		color: gray;
	
		border-color: none;
		border-radius: 10px;
		height: 15px;
		margin: 10px;
		width: 300px;
		padding: 15px;
	}
	
	footer button {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0em;
		text-align: center;
	
		letter-spacing: 0em;
		text-align: center;
		color: #ffffff;
	
		background-color: #023047;
		border-color: transparent;
		border-radius: 15px;
		width: 150px;
	
		padding: 5px;
		margin: 15px;
	}
	
	footer p {
		font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: center;
	
		color: #ffff;
	}
}